* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

p {
    color: antiquewhite;
}
h1 {
    color: bisque;
}
h3 {
    color: bisque;
}

a:hover {
	text-decoration: underline;
}

body {	
	background:black;
}
.frase1 {
	
	font-size: 5em;
	text-align: center;
}
#imagen-perfil {
	text-align: center;
	border: solid;
	margin-top: 10px;
	border-radius: 7px;
	
}
.link-contacto {
	text-align: center;
	margin-top: 1em;
}
.navegacion {
	background: #FFCD48;
    position: sticky;
    top: 0;
}

.navegacion a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navegacion a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}
#lista1 {
    color: #525151;
    
}
#lista2 {
    color: #525151;
}

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: #1D2F3D;
	padding: 20px;
	border-radius: 3px;
    position: sticky;
    top: 0;
    margin: 20px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}




@media screen and (max-width: 900px){
	.navegacion .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navegacion a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}
}